# MongoDB Configuration
MONGO_URI=mongodb+srv://veduinternship:eL3zckDZmeRauZkA@cluster0.8sqeaez.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Configuration
JWT_SECRET_KEY=your_secret_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS Origins (comma-separated)
ALLOWED_ORIGINS=http://localhost:3000,https://sudoku-master-web.vercel.app/

# Optional: Database Name
DATABASE_NAME=sudoku_master 